body {
  font-size: 16px;
  color: 777;
  background-color: #fff;
  font-family: 'Lora', serif;
}
/** HEADER **/
#header-nav {
  background-color: #cc6633;
  border-radius: 0;
  border: 0;
  padding-bottom: 10;
}
.navbar-brand {
  padding-top: 25px;
  margin-bottom: 5px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #666677;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: .5px .5px .5px #777;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: .75;
  align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  align: auto;
  background-color: #cc6633;
  opacity: .8;

}
#nav-list a {
  color: #777777;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
  opacity: .8;
}
#nav-list a span {
  font-size: 1.8em;
}
.container section{
  padding: 0px;
  border: 0px;
}
.navbar-nav ul div{
  align: auto;
  padding: 0;
  border: 0;
}

#main-content {
  text-align: center;
}
#menu-descriptons {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #cc6633;
    opacity: .8;
    padding: 25px;
    width: auto;
    text-align: left;
  }

h2 {
  color: #cc6633;
  font-weight: bold;
}
